WHATSAPP_ACCESS_TOKEN=your_meta_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_TO=2250700000000
WHATSAPP_TEMPLATE_NAME=otp_template_name
WHATSAPP_DEFAULT_LANG=fr
WHATSAPP_LATITUDE=5.35995
WHATSAPP_LONGITUDE=-4.00826
